In [9]:
##Initially Code All

##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc

#graph
import plotly.figure_factory as ff
import plotly.offline as offline
import plotly.graph_objs as go
import numpy as np
offline.init_notebook_mode()
 
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=250-serv;UID=sa;PWD=pass1234', autocommit=True)
cursor = cnxn.cursor()

##connecting to your SECOND database through ODBC                                   ####
server = odbc.connect('DSN=196-serv;UID=support;PWD=support', autocommit=True)     ####
cursor2 = server.cursor() 
 
# sample naming, > s3_21ab
#                 |ShiftSquence_dateController

########################################################################################### Tanggal 01
##---------------------------------------------------------------------------------------- Shift 1
omm  = pd.read_sql("SELECT *  FROM Table_SiteTest where tgljam between '2019-04-28 14:41:49' and '2019-04-28 15:17:41:49' ORDER BY nobatch asc",cnxn)
ommx = pd.read_sql("SELECT *  FROM Table_SiteTest where tgljam between '2019-05-10 06:00:00' and '2019-05-11 23:20:41:49' ORDER BY nobatch desc",cnxn)
ab   = pd.read_sql("SELECT *  FROM mlog2          where namamesin = 'E011-V' and  tgljam2 between '2019-05-10 06:00:00' and '2019-05-11 23:20:41:49' ORDER BY nobatch desc",server)
abz  = pd.read_sql("SELECT *  FROM mlog_cntr where tgljam between '2019-06-12 05:59:00.000' and '2019-06-13 09:01:00.000'  and namamesin ='+conv+' ORDER BY nobatch asc",server)

ModuleNotFoundError: No module named 'pandas'

In [8]:
ommx

,namamesin,nobatch,tgljam,barcode,insertdate,darireader
0,Conv-V-Omron,17094,2019-05-11 22:42:57.647,NO READ,2019-05-11 22:42:57.647,0
1,Conv-V-Omron,17093,2019-05-11 20:36:19.847,18998866606858,2019-05-11 20:36:19.847,3
2,Conv-V-Omron,17092,2019-05-11 20:36:18.047,18998866606858,2019-05-11 20:36:18.047,3
3,Conv-V-Omron,17091,2019-05-11 20:35:12.847,18998866606858,2019-05-11 20:35:12.847,3
4,Conv-V-Omron,17090,2019-05-11 20:35:10.347,18998866606858,2019-05-11 20:35:10.347,3
5,Conv-V-Omron,17089,2019-05-11 20:35:01.247,18998866606858,2019-05-11 20:35:01.247,3
6,Conv-V-Omron,17088,2019-05-11 20:34:53.947,18998866606858,2019-05-11 20:34:53.947,3
7,Conv-V-Omron,17087,2019-05-11 20:34:50.047,18998866606858,2019-05-11 20:34:50.047,3
8,Conv-V-Omron,17086,2019-05-11 20:34:45.947,18998866606858,2019-05-11 20:34:45.947,3
9,Conv-V-Omron,17085,2019-05-11 20:34:42.747,18998866606858,2019-05-11 20:34:42.747,3
10,Conv-V-Omron,17084,2019-05-11 20:34:38.247,18998866606858,2019-05-11 20:34:38.247,3
11,Conv-V-Omron,17083,2019-05-11 20:34:34.747,18998866606858,2019-05-11 20:34:34.747,3
12,Conv-V-Omron,17082,2019-05-11 20:34:30.447,18998866606858,2019-05-11 20:34:30.447,3
13,Conv-V-Omron,17081,2019-05-11 20:34:20.647,18998866610237,2019-05-11 20:34:20.647,3
14,Conv-V-Omron,17080,2019-05-11 20:33:56.547,18998866604953,2019-05-11 20:33:56.547,3
15,Conv-V-Omron,17079,2019-05-11 20:33:54.347,18998866610237,2019-05-11 20:33:54.347,3
16,Conv-V-Omron,17078,2019-05-11 20:33:28.647,18998866604953,2019-05-11 20:33:28.647,3
17,Conv-V-Omron,17077,2019-05-11 20:33:20.847,18998866610237,2019-05-11 20:33:20.847,3
18,Conv-V-Omron,17076,2019-05-11 20:33:07.847,18998866604953,2019-05-11 20:33:07.847,3
19,Conv-V-Omron,17075,2019-05-11 20:33:04.747,18998866610237,2019-05-11 20:33:04.747,3
20,Conv-V-Omron,17074,2019-05-11 20:32:52.547,18998866607367,2019-05-11 20:32:52.547,3
21,Conv-V-Omron,17073,2019-05-11 20:32:49.147,18998866610237,2019-05-11 20:32:49.147,3
22,Conv-V-Omron,17072,2019-05-11 20:32:28.247,18998866604953,2019-05-11 20:32:28.247,3
23,Conv-V-Omron,17071,2019-05-11 20:32:19.447,18998866604953,2019-05-11 20:32:19.447,3
24,Conv-V-Omron,17070,2019-05-11 20:32:14.547,18998866610237,2019-05-11 20:32:14.547,3
25,Conv-V-Omron,17069,2019-05-11 20:32:10.047,18998866610237,2019-05-11 20:32:10.047,3
26,Conv-V-Omron,17068,2019-05-11 20:31:53.247,18998866604953,2019-05-11 20:31:53.247,3
27,Conv-V-Omron,17067,2019-05-11 20:31:44.847,18998866610237,2019-05-11 20:31:44.847,3
28,Conv-V-Omron,17066,2019-05-11 20:31:40.747,18998866604953,2019-05-11 20:31:40.747,3
29,Conv-V-Omron,17065,2019-05-11 20:31:20.447,18998866610237,2019-05-11 20:31:20.447,3
...,...,...,...,...,...,...
14891,Conv-V-Omron,2203,2019-05-10 06:19:52.047,18998866602218,2019-05-10 06:19:52.047,3
14892,Conv-V-Omron,2202,2019-05-10 06:19:48.247,18998866602218,2019-05-10 06:19:48.247,3
14893,Conv-V-Omron,2201,2019-05-10 06:19:45.847,18998866602218,2019-05-10 06:19:45.847,3
14894,Conv-V-Omron,2200,2019-05-10 06:19:41.547,18998866602218,2019-05-10 06:19:41.547,3
14895,Conv-V-Omron,2199,2019-05-10 06:19:39.147,18998866610237,2019-05-10 06:19:39.147,3
14896,Conv-V-Omron,2198,2019-05-10 06:19:34.647,18998866608708,2019-05-10 06:19:34.647,3
14897,Conv-V-Omron,2197,2019-05-10 06:19:32.647,18998866607367,2019-05-10 06:19:32.647,2
14898,Conv-V-Omron,2196,2019-05-10 06:19:29.147,18998866610237,2019-05-10 06:19:29.147,3
14899,Conv-V-Omron,2195,2019-05-10 06:19:26.447,18998866608708,2019-05-10 06:19:26.447,3
14900,Conv-V-Omron,2194,2019-05-10 06:19:24.247,18998866607367,2019-05-10 06:19:24.247,3
14901,Conv-V-Omron,2193,2019-05-10 06:19:21.447,18998866610237,2019-05-10 06:19:21.447,3
14902,Conv-V-Omron,2192,2019-05-10 06:19:18.447,18998866602218,2019-05-10 06:19:18.447,3
14903,Conv-V-Omron,2191,2019-05-10 06:14:35.547,18998866607367,2019-05-10 06:14:35.547,3
14904,Conv-V-Omron,2190,2019-05-10 06:14:31.047,18998866608708,2019-05-10 06:14:31.047,3
14905,Conv-V-Omron,2189,2019-05-10 06:14:26.347,18998866610237,2019-05-10 06:14:26.347,3
14906,Conv-V-Omron,2188,2019-05-10 06:14:13.447,18998866607367,2019-05-10 06:14:13.447,3
14907,Conv-V-Omron,2187,2019-05-10 06:14:09.947,18998866602218,2019-05-10 06:14:09.947,3
14908,Conv-V-Omron,2186,2019-05-10 06:14:03.247,18998866602218,2019-05-10 06:14:03.247,3
14909,Conv-V-Omron,2185,2019-05-10 06:13:59.147,18998866608708,2019-05-10 06:13:59.147,3
14910,Conv-V-Omron,2184,2019-05-10 06:13:54.247,18998866610237,2019-05-10 06:13:54.247,3
14911,Conv-V-Omron,2183,2019-05-10 06:13:49.147,18998866607367,2019-05-10 06:13:49.147,3
14912,Conv-V-Omron,2182,2019-05-10 06:13:44.147,18998866602218,2019-05-10 06:13:44.147,3
14913,Conv-V-Omron,2181,2019-05-10 06:13:38.747,18998866607367,2019-05-10 06:13:38.747,3
14914,Conv-V-Omron,2180,2019-05-10 06:13:34.847,18998866602218,2019-05-10 06:13:34.847,3
14915,Conv-V-Omron,2179,2019-05-10 06:13:26.947,18998866602218,2019-05-10 06:13:26.947,3
14916,Conv-V-Omron,2178,2019-05-10 06:13:18.447,18998866602218,2019-05-10 06:13:18.447,3
14917,Conv-V-Omron,2177,2019-05-10 06:13:14.347,18998866602218,2019-05-10 06:13:14.347,3
14918,Conv-V-Omron,2176,2019-05-10 06:13:03.547,18998866602218,2019-05-10 06:13:03.547,3
14919,Conv-V-Omron,2175,2019-05-10 06:13:00.247,18998866602218,2019-05-10 06:13:00.247,3
14920,Conv-V-Omron,2174,2019-05-10 06:12:35.447,18998866602218,2019-05-10 06:12:35.447,3

In [9]:
abz

Empty DataFrame
Columns: [namamesin, tgljam, barcode, cntr, nobatch, insert_date]
Index: []

In [10]:
absum=ab.groupby('barcode').count()
absum

                namamesin  nobatch  tgljam  darireader  insert_date  tgljam2
barcode
                        2        2       2           2            2        2
18998866602218       1170     1170    1170        1170         1170     1170
18998866604953       1757     1757    1757        1757         1757     1757
18998866606858       2007     2007    2007        2007         2007     2007
18998866607367       5282     5282    5282        5282         5282     5282
18998866608708       2149     2149    2149        2149         2149     2149
18998866610237       2493     2493    2493        2493         2493     2493
No Read                25       25      25          25           25       25

In [11]:
omsum=ommx.groupby('barcode').count()
omsum

                namamesin  nobatch  tgljam  insertdate  darireader
barcode
                        2        2       2           2           2
18142200074953          1        1       1           1           1
18998866602218       1168     1168    1168        1168        1168
18998866604953       1757     1757    1757        1757        1757
18998866606858       2015     2015    2015        2015        2015
18998866607367       5302     5302    5302        5302        5302
18998866608708       2144     2144    2144        2144        2144
18998866610237       2499     2499    2499        2499        2499
NO READ                33       33      33          33          33

In [12]:
(omsum.namamesin.sum() - absum.namamesin.sum())

36